.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.loading__spinner {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.loading__spinner__circle {
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}