
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* 60px is the height of the header */
    width: 100%;
    color: var(--color-text-on-background);
    padding: 0 40px;
}

.main-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--color-primary);
}

.main-content:nth-child(2) .main-page-content {
    flex-direction: row-reverse;
    
}

.main-content:last-child .main-page-content {
    border: none;
}




.main-page-content-left {
    flex: 1;
    padding: 20px;
}

.main-page-content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.main-page-content-title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-page-content-title-highlight {
    color: var(--color-primary); 
}

.main-page-content-description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main-page-content-icon {
    font-size: 20rem;
    color: var(--color-primary);   
    
}


.Guide-Down {
    position: fixed;
    color: var(--color-primary);
    font-size: 1.5em;
    bottom: 20px;
    right: 50%;
    cursor: pointer;
}



@media screen and (min-width: 1440px) {
    .main-content {
        max-width: 1440px;
        margin: 0 auto;
    }
}