.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
}

.ranking-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
    width: 100%;
    text-align: center;
}
.ranking-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding-top: 10px; 
}

.ranking-content table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.ranking-content table th, .ranking-content table td {
    padding: 10px;
    border-bottom: 1px solid var(--color-primary);
    text-align: center;
}

.ranking-content table th {
    background-color: var(--color-primary);
    color: var(--background);
}

.ranking-content table tr:nth-child(even) {
    background-color: var(--background);
}

.ranking-content table tr:nth-child(odd) {
    background-color: var(--background-light);
}

.ranking-content table tr:hover {
    background-color: var(--background-light);
}

.ranking-content table tr:hover td {
    color: var(--color-primary);
}

.ranking-content table tr:hover td a {
    color: var(--color-primary);
}

