@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght,INFM,SPAC@300..800,0..100,0..100&display=swap');

[data-theme="light"] {
    /* COMPOSITION COLORS */
    --primary-color: #55a7ad;
    --secondary-color: #60c1c6;
    --terciary-color: #b9e9e9;

    --complemetary-color: #ad5b55;

    --analogous-color-1: #55ad87;
    --analogous-color-2: #557bad;

    /* TEXT COLORS */

    --on-primary-color: #0f0f0f;
    --on-complementary-color: #f0f0f0;

    /* COMPONENT COLORS */

    --background-colors: #f0f0f0;
    --surface-colors: #ebebeb;
    --error-color: #ce6b60;
    --success-color: #41916a;

    /* POP UP COLORS */

    --pop-up-background-color: rgba(0, 0, 0, 0.2);
    --pop-up-surface-colors: #ebebeb;
    --pop-up-error-color: #c60000;
    --pop-up-success-color: #009900;

    /* COMPONENT TEXT COLORS */

    --on-error-color: #f0f0f0;
    --on-surface-colors: #0f0f0f;
    --on-success-color: #f0f0f0;

    /* extra and effects */

    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    --hover_offset: 4px;
    --active-offset0: 2px;
    --active-offset: 5px;
    --active-offset2: 6px;
    --active-offset3: 7px;
    --shadow-color: rgba(0, 0, 0, 1);
    --shadow_color: rgba(0, 0, 0, 0.6);
    --glitch_offset: 2px;

    /* SWITCH ONLY */

    --switch-border-color: #000000;
    --switch-background-color: #f0f0f0;



}



[data-theme="dark"] {

    /* COMPOSITION COLORS */
    --primary-color: #383838;
    --secondary-color: #565656;
    --terciary-color: #6d6d6d;

    --complemetary-color: #f8f8f8;

    --analogous-color-1: #565656;
    --analogous-color-2: #6a6a6a;

    /* TEXT COLORS */

    --on-primary-color: #f8f8f8;
    --on-complementary-color: #f8f8f8;

    /* COMPONENT COLORS */

    --background-colors: #383838;
    --surface-colors: #565656;
    --error-color: #c60000;
    --success-color: #009900;

    /* POP UP COLORS */

    --pop-up-background-color: rgba(0, 0, 0, 0.2);
    --pop-up-surface-colors: #6d6d6d;
    --pop-up-error-color: #c60000;
    --pop-up-success-color: #009900;

    /* COMPONENT TEXT COLORS */

    --on-error-color: #f0f0f0;
    --on-surface-colors: #0f0f0f;
    --on-success-color: #f0f0f0;

    /* extra and effects */

    --button_radius: 0.75em;
    --button_color: #565656;
    --button_outline_color: #181818;
    --hover_offset: 4px;
    --active-offset0: 2px;
    --active-offset: 5px;
    --active-offset2: 6px;
    --active-offset3: 7px;
    --shadow-color: rgba(0, 0, 0, 1);
    --shadow_color: rgba(0, 0, 0, 0.6);
    --glitch_offset: 2px;

    /* SWITCH ONLY */

    --switch-border-color: #aaaaaa;
    --switch-background-color: #181818;

}








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 10;

}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--terciary-color);
    display: flex;
    flex-direction: column;
    transition: 800ms ease-in-out;

    overflow: hidden;
    z-index: 0;


}



#app {

    height: 100%;
    width: 100%;
    z-index: 1;
    flex: 9;
}

/* ---------------- Header ----------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: center;



    width: 100%;
    height: 120px;
    background-color: var(--secondary-color);
    color: var(--on-primary-color);
    text-transform: uppercase;
    box-shadow: 1px var(--active-offset) 3px var(--shadow_color);
    z-index: 1;

}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 40px ;
}


header .nav .navList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    width: 100%;
    list-style: none;

}


header .nav .navList .navItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: fit-content;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 1.2rem;

    border: 3px solid var(--on-primary-color);
    background: var(--surface-colors);
    color: var(--on-primary-color);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transform: translateY(-0.2em);

}

header .nav .navList .navItem:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}

header .nav .navList .navItem:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
}

/* -------------------- switch darkmode ------------------------------- */

.switch {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: center;

    position: absolute;
    top: 10%;
    right: 2rem;

    gap: 30px;
    width: 50px;
    height: 20px;
}

.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid var(--switch-border-color);
    box-shadow: var(--active-offset) var(--active-offset) var(--shadow_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-background-color);
    transition: 0.3s;
    transform: translateY(-25px); 
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--switch-border-color);
    border-radius: 3px;
    left: -3px;
    bottom: 2px;
    background-color: var(--switch-background-color);
    box-shadow: var(--active-offset0) var(--active-offset0) var(--shadow_color);
    transition: 0.3s;
}

.toggle:checked+.slider {
    background-color: var(--analogous-color-2);
}

.toggle:checked+.slider:before {
    transform: translateX(30px);
}




/* ------------- MAIN PAGE ----------------- */
.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.homePage .cardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    gap: 1rem;
    

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    z-index: 2;

}

.homePage .cardBox h1 {
    font-size: 50px;
    color: var(--on-primary-color);
    margin-bottom: 20px;
    border-bottom: 3px solid var(--on-surface-colors);
}

.homePage .cardBox button {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    font-size: 1.5rem;

    width: 200px;
    height: 50px;
    background: var(--surface-colors);
    color: var(--on-primary-color);

    border: 3px solid var(--on-surface-colors);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.homePage .cardBox button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--analogous-color-1);

    width: 0%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}

.homePage .cardBox button:hover::before {
    width: 100%;
    transition: 0.5s;
}




.homePage button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    transition: .3s ease-in;
}

#gamePage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.4rem;

}

/* -------------- UPPER ROW ----------------------- */

.boxWord {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    height: 250px;
    border-bottom: 3px solid var(--on-surface-colors);
    border-top: 3px solid var(--on-surface-colors);
    background-color: var(--background-colors);
    box-shadow: 1px var(--active-offset2) 3px var(--shadow_color);

}

.boxWord .containerLetters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    align-self: center;

    height: 180px;

}

.boxWord .chances {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 1.2rem;
    color: var(--on-primary-color);


}

.boxWord .hintBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 1.2rem;
    
    color: var(--on-secondary-color);
    background: var(--secondary-color);
    border-bottom: 3px solid var(--on-surface-colors);
    border-top: 3px solid var(--on-surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
}

.boxWord .chances .card, .boxWord .chances .upperCard, .boxWord .chances .lowerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 50px;

    font-size: 1.2rem;
    color: var(--on-primary-color);

    border-bottom: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);


}



/*--------------------------------- UPPER PART ---------------------- */



.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 90px;

    margin: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: #2b2b2b;
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transform: translateY(-0.2em);
    border: 3px solid #2b2b2b;

}


/*--------------------------------- LOWER PART ---------------------- */

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    max-width: 50%;
    height: fit-content;
    gap: 15px;


}

.keyboard button.key {

    cursor: pointer;


    font-size: 20px;
    display: block;
    border: 3px solid var(--on-surface-colors);
    border-radius: var(--button_radius);
    width: 70px;
    height: 70px;
    background: var(--surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);


}

.keyboard button.keyCorrect {

    font-size: 20px;
    display: block;

    border-radius: var(--button_radius);
    width: 70px;
    height: 70px;
    background: var(--success-color);
    color: var(--on-primary-color);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    animation: press 1s ease-in-out;
    box-shadow: var(--active-offset0) var(--active-offset0) 0 var(--shadow-color);
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));


}

.keyboard button.keyIncorrect {

    font-size: 20px;
    display: block;

    border-radius: var(--button_radius);
    width: 70px;
    height: 70px;
    background: var(--error-color);
    color: var(--on-complementary-color);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);

    box-shadow: var(--active-offset0) var(--active-offset0) 0 var(--shadow-color);
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
}


.keyboard button.key:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}

.keyboard button.key:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));

    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
}



/*-------------------------- EFFECT ------------------- */

.letterCorrect {
    background-color: var(--success-color);
    color: var(--on-primary-color);
    animation: blink 0.5s ease-in-out;
    text-transform: uppercase;
}



@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*-------------------------------- end of effects ----------------------------- */
.popUpBackground {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    place-content: center;
    place-items: center;
    margin: 0 auto;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    z-index: 100;

}


.popUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 800px;
    height: 660px;
    padding: 10px;
    border: 3px solid var(--on-surface-colors);
    background-color: var(--surface-colors);
    box-shadow: var(--active-offset3) var(--active-offset3) rgba(0, 0, 0, 0.6);
    z-index: 101;
    
   

}

.popUp h2 {
    font-size: 2rem;
    color: var(--on-surface-colors);
    text-align: center;
    text-transform: capitalize;
}

.popUp p {
    color: var(--on-surface-colors);
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}

.popUp .headerPopUp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--on-surface-colors);
    background-color: var(--surface-colors);
    z-index: 102;
}


.popUp .popUpContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 102;
}

.popUp .popUpContent .ranking{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    z-index: 102;
    background-color: var(--surface-colors);
    border: 3px solid var(--on-surface-colors);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    padding: 10px;

}

.popUp .popUpContent .ranking .hintsBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0 10px;
}

.popUp .popUpContent .ranking .hintsBox p{
    font-size: 1rem;
    color: var(--on-primary-color);
    text-align: justify;
}

.popUp .popUpContent .ranking ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    list-style: none;
    
}

.popUp .popUpContent .ranking ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;

    font-size: 1.2rem;

    text-transform: capitalize;

    background-color: var(--surface-colors);
    color: var(--on-primary-color);
    border-left: 3px solid var(--on-surface-colors);
    border-right: 3px solid var(--on-surface-colors);

    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.popUp .popUpContent .ranking ul li:first-child{
    background-color: #ffd900;
}

.popUp .popUpContent .ranking ul li:nth-child(2){
    background-color: #C0C0C0;
}

.popUp .popUpContent .ranking ul li:nth-child(3){
    background-color: #cd7f32;
}




.popUp .popUpContent .ranking ul li:first-child{
    border-top: 3px solid var(--on-surface-colors);
}

.popUp .popUpContent .ranking ul li:last-child{
    border-bottom: 3px solid var(--on-surface-colors);
}


.popUp .buttonRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    gap: 20px;
    z-index: 103;
}


.popUp .buttonRow .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    
    width: 200px;
    height: 50px;
    background: var(--pop-up-surface-colors);
    color: var(--on-primary-color);

    border: 3px solid var(--on-surface-colors);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
   
    z-index: 104;

}

.popUp .buttonRow .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}

.popUp .buttonRow .button:nth-child(1):before {
    background-color: var(--success-color);
    color: var(--on-success-color);

}

.popUp .buttonRow .button:nth-child(2):before {
    background-color: var(--error-color);
    color: var(--on-error-color);
}

.popUp .buttonRow .button:hover::before {
    width: 100%;
    transition: 0.5s;
}

.popUp .buttonRow .button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}

/* -------------------------------- POP UP LOSE ----------------------------- */

.popUp .popUpContent .lose {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    z-index: 102;
    padding: 10px;

    margin-bottom: 20px;

    z-index: 102;

}

.popUp .popUpContent .loseText {
    font-size: 1.6rem;
    color: var(--on-primary-color);
    text-align: justify;
    text-transform: capitalize;
    
}

.popUp .popUpContent .loseText:last-child {
    margin-bottom: 20px;
    border-bottom: 3px solid var(--on-surface-colors);

}

.popUp .popUpContent .hintBox {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    padding: 10px;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    z-index: 102;

    
    
}

.popUp .popUpContent .hintBox p {
    font-size: 1.2rem;
    color: var(--on-primary-color);
    text-align: justify;
    text-transform: capitalize;
}



/* ---------------------- LOADER AND ANIMATIONS ---------------------------- */

.loader {
    width: 100%;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;



}

.loader .boxLoader {
    width: 500px;
    height: 500px;


    border-radius: 10px;
    z-index: 102;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader .boxLoader .loaderText {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    z-index: 103;
    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    
    padding: 10px;
    width: 100%;
    

}

.loader .boxLoader .loaderText #textBox {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    z-index: 105;

}


/*------------------------------------------ INPUT RUN GAME --------------------------- */

.boxUser {
    display: flex;

    justify-content: center;
    align-items: center;
    place-self: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;

}



.boxUser button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}



.boxInput {
    display: grid;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 'typeLogin' 'inputBox' 'buttonsBox';

    gap: 20px;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 10px;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);

    
    color: var(--on-primary-color);

}

.boxInput .inputContainer {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-areas: 'inputBox inputBox' 'inputPassword showPassword';
    

    align-items: center;
    align-content: center;
    gap: 20px;

    width: 100%;
    height: 100%;
}


.boxInput .typeLogin{
    grid-area: typeLogin;
    font-size: 2rem;
    color: var(--on-primary-color);
    display: grid;
    grid-template-areas: 'typeLoginText typeLoginText2';
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    
    gap: 10px;

}

.boxInput .typeLogin .typeLoginText {
    grid-area: typeLoginText;

}

.boxInput .typeLogin .typeLoginText2 {
    grid-area: typeLoginText2;
    
}



.boxInput .typeLogin .typeLoginText , .boxInput .typeLogin .typeLoginText2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--on-primary-color);
    text-align: center;
    width: 100%;
    height: 60px;
    cursor: pointer;
    position: relative;

    border-bottom: 3px solid var(--on-surface-colors);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);

}

.boxInput .typeLogin .typeLoginText:hover , .boxInput .typeLogin .typeLoginText2:hover{
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
}

.boxInput .typeLogin .typeLoginText::before , .boxInput .typeLogin .typeLoginText2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    
}

.boxInput .typeLogin .typeLoginText::before{
    background-color: var(--primary-color);
}

.boxInput .typeLogin .typeLoginText2::before{
    background-color: var(--secondary-color);
}

.boxInput .typeLogin .typeLoginText:hover::before , .boxInput .typeLogin .typeLoginText2:hover::before{
   
    width: 100%;
    transition: 0.5s;
}



.boxInput input {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;



    font-size: 1.4rem;
    text-align: center;
    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    z-index: 1;

    text-transform: none;
}

.boxInput input:not(:placeholder-shown):valid {
    border-color: var(--success-color);
}

.boxInput input:not(:placeholder-shown):invalid {
    border-color: var(--error-color);
   
}



.boxInput input:nth-child(1) {
    grid-area: inputBox;
}

.boxInput input:nth-child(2) {
    grid-area: inputPassword;

}
/* ------------------------------------------------- */
.shake-animation{
    animation: shake 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.5s ease-in-out;
    border-color: var(--pop-up-error-color)!important; 
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--error-color)!important;
    background: var(--error-color)!important;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    5% {
        transform: translateX(-10px);
    }

    10% {
        transform: translateX(10px);
    }

    15% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(10px);
    }

    25% {
        transform: translateX(-10px);
    }

    30% {
        transform: translateX(10px);
    }

    35% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    45% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    55% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    65% {
        transform: translateX(-10px);
    }

    70% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    85% {
        transform: translateX(-10px);
    }

    90% {
        transform: translateX(10px);
    }

    95% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.selected {
    transition: 0.5s ease-in-out;
    background: var(--primary-color);
    color: var(--on-primary-color);
}

.selected2{
    transition: 0.5s ease-in-out;
    background: var(--secondary-color);
    color: var(--on-secondary-color);
}
/* ------------------------------------------------- */
.boxInput .showPassword {
    grid-area: showPassword;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 3px solid var(--on-surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.boxInput .showPassword .showPasswordImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s ease-in;
}




.boxInput input::placeholder {
    color: var(--on-primary-color);
    font-size: 1rem;
}



.boxInput input:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}

.boxInput input:focus {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
    outline: none;

}





@keyframes borderPulse {
    0% {
        border-color: var(--on-surface-colors);
    }

    50% {
        border-color: var(--primary-color);
    }

    100% {
        border-color: var(--on-surface-colors);
    }

}

.boxInput .buttonsBox {
    grid-area: buttonsBox;
    display: flex;
    gap: 20px;
    width: 100%;

}

.boxInput button {
    width: 50%;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    cursor: pointer;
}

.boxInput .buttonsBox button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}

.boxInput .buttonsBox button:nth-child(1):before {
    background-color: var(--success-color);

}

.boxInput .buttonsBox button:nth-child(2):before {
    background-color: var(--error-color);
}




.boxInput button:hover::before {
    width: 100%;
    transition: 0.5s;
}

.boxInput button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    color: var(--on-success-color);
}


.boxInput button#back:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
    background: var(--error-color);
}

.boxInput button#run:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
    background: var(--success-color);
}





/* ------------------------------------ TABLE SCORE -------------------------------- */

.scorePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
}

.scorePage .scoreTitle {
    font-size: 2rem;
    color: var(--on-primary-color);
    text-align: center;
    width: 70%;
    text-transform: capitalize;
    border: 3px solid var(--on-surface-colors);
    background: var(--primary-color);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    padding: 5px;

}

.scorePage .backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    position: inherit;
    bottom: 0;
    left: 0;

    align-self: flex-start;


    width: 200px;
    height: 50px;
    background: var(--pop-up-surface-colors);
    color: var(--on-primary-color);

    border: 3px solid var(--on-surface-colors);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.scorePage .backButton:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    transition: .3s ease-in;
}



.scorePage .scoreTable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 70%;
    height: 100%;

}

.scorePage .scoreTable tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--surface-colors);
    color: var(--on-primary-color);
    border: 3px solid var(--on-surface-colors);

    font-size: 1.2rem;
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.scorePage .scoreTable th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    color: var(--on-primary-color);
    font-size: 1.2rem;
    border-top: 3px solid var(--on-surface-colors);
    border-bottom: 3px solid var(--on-surface-colors);

}

.scorePage .scoreTable tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

/* ----------------- ABOUT PAGE ------------------------------- */

.aboutPage {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;

    grid-template-areas: 'title title' 'Icons info';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 8fr;


}

.aboutPage h1 {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--on-primary-color);
    border: 3px solid var(--on-surface-colors);
    background: var(--primary-color);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
}

.aboutPage .devInfos {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    color: var(--on-primary-color);
    text-align: justify;
    align-items: flex-start;


}



.aboutPage .devInfos .mainContent>.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 20px;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;

    font-size: 1.2rem;
    color: var(--on-primary-color);
    text-align: justify;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}


.aboutPage .devInfos .mainContent .card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: var(--on-primary-color);
    text-align: justify;
    align-items: flex-start;
}



.aboutPage .devInfos .mainContent .card .cardIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    border: 3px solid var(--on-surface-colors);
    border-radius: 10px;
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    text-align: center;
    text-justify: auto;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--surface-colors);
}




.aboutPage .devInfos .mainContent .card .cardIcon:hover {
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}



.aboutPage .devInfos .mainContent .card .brandIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 1rem;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
    padding: 10px;


    transition: 0.5s ease-in-out;

}

.aboutPage .devInfos .mainContent .card .brandIcons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;


}


.aboutPage .devInfos .mainContent .card .brandIcons a img {
    width: 100%;
    height: 100%;

    transition: 0.5s ease-in-out;

}



.aboutPage .devInfos .mainContent .card .brandIcons a img:hover {
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}
















.aboutPage .expandableIcons {
    grid-area: Icons;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: fit-content;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;

}

.aboutPage .expandableIcons img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 3px solid var(--on-surface-colors);
    border-radius: 10px;
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.aboutPage .expandableIcons img:hover {
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}

.aboutPage .expandableIcons img:active {
    transform: translateY(0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}




/*------------------- POP UP INIT ---------------- */

.popUp-init {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pop-up-background-color);
    backdrop-filter: blur(15px);
    z-index: 100;
}

.popUp-init .popUpBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 600px;
    padding: 20px;
    border: 3px solid var(--on-surface-colors);
    background-color: var(--pop-up-surface-colors);
    box-shadow: var(--active-offset3) var(--active-offset3) rgba(0, 0, 0, 0.6);
    z-index: 101;
    position: relative;
}

.popUp-init .popUpBox h2{
    font-size: 1.8rem;
    color: var(--on-primary-color);
    text-align: center;
    display: flex;
    padding: 10px 0;
}

.popUp-init .popUpBox p{
    font-size: 1rem;
    color: var(--on-primary-color);
    margin-bottom: 20px;
    text-align: justify;
    align-self: flex-start;
    height: 300px;
    text-wrap: wrap;
}

.popUp-init .popUpBox .button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;

    width: 100px;
    height: 50px;
    background: var(--pop-up-surface-colors);
    border: 3px solid var(--on-surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
}

.popUp-init .popUpBox .button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    transition: .3s ease-in;
}

.popUp-init .popUpBox .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    background-color: var(--pop-up-success-color);
}

.popUp-init .popUpBox .button:hover::before {
    width: 100%;
    transition: 0.5s;
}

/* -----------------------POP UP CONTENT--------------- */

.popUp-init .popUpBox .popUpContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    

}

.popUp-init .popUpBox .popUpContent h2{
    font-size: 1.8rem;
    color: var(--on-primary-color);
    display: flex;
    height: fit-content;
    align-self: flex-start;
    
    text-align: justify;
    text-transform: capitalize;
    
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--on-surface-colors);
}

.popUp-init .popUpBox .popUpContent p{
    font-size: 1.2rem;
    color: var(--on-primary-color);
    text-align: justify;
    height: fit-content;
    text-transform: capitalize;
    
}

.popUp-init .popUpBox .popUpContent ul{
    font-size: 1rem;
    width: 100%;
    color: var(--on-primary-color);
    margin-bottom: 20px;
    text-align: justify;
    align-self: flex-start;
    list-style: none;
    
}

.popUp-init .popUpBox .popUpContent li{
    font-size: 1rem;
    color: var(--on-primary-color);
    width: 100%;
    margin-bottom: 10px;
    text-align: justify;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    
}

.popUp-init .popUpBox .popUpContent li img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

/* ---------------------------------- POP UP DEVS ---------------------------------- */

.popUp-init .popUpBox .popUpContent .popUpContentDevs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;


}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .popUpExpandableIcons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 120px;
    gap: 20px;

    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .popUpExpandableIcons > img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid var(--on-surface-colors);

    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .popUpExpandableIcons img:hover{
    width: 100px;
    height: 100px;
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    transition: 0.2s ease-in-out;
}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .popUpExpandableIcons img:active{
    width: 80px;
    height: 80px;
    transform: translateY(0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.2s ease-in-out;
}

/* --------------------------------- POP UP INFO DEFAULT -------------------------------- */

.popUp-init .popUpBox .popUpContent .popUpContentDevs .contentBoxDev .contentDefault{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

  
/* ---------------------------------- POP UP DEVS INFO ---------------------------------- */

.popUp-init .popUpBox .popUpContent .popUpContentDevs .contentBoxDev{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .contentBoxDev .boxShowDev{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .contentBoxDev .boxShowDev .brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    color: var(--on-primary-color);
    text-align: justify;
    align-items: flex-start;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .contentBoxDev .boxShowDev .brands .imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 3px solid var(--on-surface-colors);
    border-radius: 10px;
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .contentBoxDev .boxShowDev .brands img{
    width: 40px;
    height: 40px;
    
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.popUp-init .popUpBox .popUpContent .popUpContentDevs .contentBoxDev .boxShowDev .brands .imgBox:hover{
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    transition: .3s ease-in;
}






/* ---------------------------------- MEDIA QUERY ---------------------------------- */


@media only screen and (width: 1024px) {
    .keyboard {
        max-width: 60%;
    }

}


@media only screen and (width: 1440px) {
    .keyboard {
        max-width: 45%;
    }

}

@media only screen and (width > 1440px) {
    .keyboard {
        max-width: 600px;
    }

    .mainContent {
        width: 1200px;
        height: 280px;
    }

}