@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

[data-theme="light"] {
    /* COMPOSITION COLORS */
    --primary-color: #55a7ad;
    --secondary-color: #60c1c6;
    --terciary-color: #b9e9e9;

    --complemetary-color: #ad5b55;

    --analogous-color-1: #55ad87;
    --analogous-color-2: #557bad;

    /* TEXT COLORS */

    --on-primary-color: #0f0f0f;
    --on-complementary-color: #f0f0f0;

    /* COMPONENT COLORS */

    --background-colors: #f0f0f0;
    --surface-colors: #ebebeb;
    --error-color: #ce6b60;
    --success-color: #41916a;

    /* POP UP COLORS */

    --pop-up-background-color: rgba(0, 0, 0, 0.2);
    --pop-up-surface-colors: #ebebeb;
    --pop-up-error-color: #c60000;
    --pop-up-success-color: #009900;

    /* COMPONENT TEXT COLORS */

    --on-error-color: #f0f0f0;
    --on-surface-colors: #0f0f0f;
    --on-success-color: #f0f0f0;

    /* extra and effects */

    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    --hover_offset: 4px;
    --active-offset0: 2px;
    --active-offset: 5px;
    --active-offset2: 6px;
    --active-offset3: 7px;
    --shadow-color: rgba(0, 0, 0, 1);
    --shadow_color: rgba(0, 0, 0, 0.6);
    --glitch_offset: 2px;

    /* SWITCH ONLY */

    --switch-border-color: #000000;
    --switch-background-color: #f0f0f0;



}



[data-theme="dark"] {

    /* COMPOSITION COLORS */
    --primary-color: #383838;
    --secondary-color: #565656;
    --terciary-color: #6d6d6d;

    --complemetary-color: #f8f8f8;

    --analogous-color-1: #565656;
    --analogous-color-2: #6a6a6a;

    /* TEXT COLORS */

    --on-primary-color: #f8f8f8;
    --on-complementary-color: #f8f8f8;

    /* COMPONENT COLORS */

    --background-colors: #383838;
    --surface-colors: #565656;
    --error-color: #c60000;
    --success-color: #009900;

    /* POP UP COLORS */

    --pop-up-background-color: rgba(0, 0, 0, 0.2);
    --pop-up-surface-colors: #6d6d6d;
    --pop-up-error-color: #c60000;
    --pop-up-success-color: #009900;

    /* COMPONENT TEXT COLORS */

    --on-error-color: #f0f0f0;
    --on-surface-colors: #0f0f0f;
    --on-success-color: #f0f0f0;

    /* extra and effects */

    --button_radius: 0.75em;
    --button_color: #565656;
    --button_outline_color: #181818;
    --hover_offset: 4px;
    --active-offset0: 2px;
    --active-offset: 5px;
    --active-offset2: 6px;
    --active-offset3: 7px;
    --shadow-color: rgba(0, 0, 0, 1);
    --shadow_color: rgba(0, 0, 0, 0.6);
    --glitch_offset: 2px;

    /* SWITCH ONLY */

    --switch-border-color: #aaaaaa;
    --switch-background-color: #181818;

}








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Playwrite GB J", cursive;
    font-weight: bold;
    font-style: normal;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */


}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--terciary-color);
    display: flex;
    flex-direction: column;
    transition: 800ms ease-in-out;
    gap: 2rem;

    overflow: hidden;
    z-index: 0;


}



#app {

    height: 100%;
    width: 100%;
    z-index: 1;
    flex: 9;
}

/* ---------------- Header ----------------- */

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 20px 50px;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    text-transform: uppercase;
    box-shadow: 1px var(--active-offset) 3px var(--shadow_color);
    z-index: 1;
    flex: 1;

}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

header .nav .logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    flex: 1;
    height: 100%;

}

header .logoBox img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

header .nav .navList {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 40px;


    gap: 20px;
    flex: 9;
    height: 100%;
    width: 100%;
    list-style: none;

}


header .nav .navList .navItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-self: flex-end;
    height: fit-content;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 1.2rem;

    border: 3px solid var(--on-primary-color);
    background: var(--surface-colors);
    color: var(--on-primary-color);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transform: translateY(-0.2em);

}

header .nav .navList .navItem:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}

header .nav .navList .navItem:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
}

/* -------------------- switch darkmode ------------------------------- */

.switch {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: center;

    position: absolute;
    top: 10%;
    right: 2rem;

    gap: 30px;
    width: 50px;
    height: 20px;
}

.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid var(--switch-border-color);
    box-shadow: var(--active-offset) var(--active-offset) var(--shadow_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-background-color);
    transition: 0.3s;
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--switch-border-color);
    border-radius: 3px;
    left: -3px;
    bottom: 2px;
    background-color: var(--switch-background-color);
    box-shadow: var(--active-offset0) var(--active-offset0) var(--shadow_color);
    transition: 0.3s;
}

.toggle:checked+.slider {
    background-color: var(--analogous-color-2);
}

.toggle:checked+.slider:before {
    transform: translateX(30px);
}












/* ------------- MAIN PAGE ----------------- */
.homePage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.homePage h1 {

    font-size: 50px;
    color: var(--on-primary-color);
    margin-bottom: 20px;
}

.homePage button {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 1.5rem;

    width: 200px;
    height: 50px;
    background: var(--surface-colors);
    color: var(--on-primary-color);

    border: 3px solid var(--on-surface-colors);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.homePage button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    transition: .3s ease-in;
}

#gamePage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.4rem;

}

/* -------------- UPPER ROW ----------------------- */

.boxWord {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: fit-content;

    background-color: var(--background-colors);
    box-shadow: 1px var(--active-offset2) 3px var(--shadow_color);

}

.boxWord .containerLetters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    align-self: center;

    flex: 8;


}

.boxWord .chances {
    display: flex;
    height: 100%;
    width: 200px;
    font-size: 20px;
    color: var(--on-primary-color);
    flex: 4;

}

.boxWord .chances .card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 60px;
    background: var(--primary-color);
    border-radius: 0 10px 10px 0;
    border: 3px solid var(--on-primary-color);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

    align-self: center;
    z-index: 3;



}

.boxWord .chances .upperCard {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
    border-radius: 0 10px 10px 0;
    border: 3px solid var(--on-primary-color);
    width: 200px;
    height: 60px;
    background: var(--secondary-color);
    z-index: 2;
    transition: 1s ease-in-out;
    position: absolute;
    left: 0;

}

.boxWord .chances .lowerCard {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
    border-radius: 0 10px 10px 0;
    width: 200px;
    height: 60px;
    border: 3px solid var(--on-primary-color);
    background: var(--terciary-color);

    z-index: 1;
    transition: 1s ease-in-out;
    position: absolute;
    left: 0;

}

.boxWord .chances .card:hover {
    cursor: pointer;
    transition: 1s ease-in-out;
    border-radius: 0;
    z-index: 3;
    transition: 1s ease-in-out;


}

.boxWord .chances .card:hover+.upperCard {
    transform: translateX(200px);
    transition: 1s ease-in-out;
    box-shadow: var(--active-offset2) var(--active-offset2) 0 var(--shadow_color);
    border: 3px solid var(--on-primary-color);
    z-index: 2;
    border-radius: 0;
}

.boxWord .chances .card:hover+.upperCard+.lowerCard {
    transform: translateX(400px);
    transition: 1s ease-in-out;
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    z-index: 1;
    border: 3px solid var(--on-primary-color);
    border-radius: 0;

}





/*--------------------------------- UPPER PART ---------------------- */



.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 90px;

    margin: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: #2b2b2b;
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transform: translateY(-0.2em);
    border: 3px solid #2b2b2b;

}

















/*--------------------------------- LOWER PART ---------------------- */

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    max-width: 50%;
    height: fit-content;
    gap: 15px;


}

.keyboard button.key {

    cursor: pointer;


    font-size: 20px;
    display: block;
    border: 3px solid var(--on-surface-colors);
    border-radius: var(--button_radius);
    width: 70px;
    height: 70px;
    background: var(--surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);


}

.keyboard button.keyCorrect {

    font-size: 20px;
    display: block;

    border-radius: var(--button_radius);
    width: 70px;
    height: 70px;
    background: var(--success-color);
    color: var(--on-primary-color);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    animation: press 1s ease-in-out;
    box-shadow: var(--active-offset0) var(--active-offset0) 0 var(--shadow-color);
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));


}

.keyboard button.keyIncorrect {

    font-size: 20px;
    display: block;

    border-radius: var(--button_radius);
    width: 70px;
    height: 70px;
    background: var(--error-color);
    color: var(--on-complementary-color);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);

    box-shadow: var(--active-offset0) var(--active-offset0) 0 var(--shadow-color);
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
}


.keyboard button.key:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}

.keyboard button.key:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));

    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
}



/*-------------------------- EFFECT ------------------- */

.letterCorrect {
    background-color: var(--success-color);
    color: var(--on-primary-color);
    animation: blink 0.5s ease-in-out;
    text-transform: uppercase;
}



@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/*-------------------------------- end of effects ----------------------------- */
.popUpBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pop-up-background-color);
    backdrop-filter: blur(15px);
    z-index: 100;
}


.popUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    height: 50%;
    padding: 20px;
    background-color: var(--pop-up-surface-colors);
    border-radius: var(--button_radius);
    box-shadow: var(--active-offset3) var(--active-offset3) rgba(0, 0, 0, 0.6);
    z-index: 101;

}

.popUp .popUpContent {
    display: grid;
    grid-template-rows: 40px 40px 1fr 100px;
    gap: 20px;
    width: 100%;
    height: 100%;
    grid-template-areas: 'closeButton' 'title' 'text-popUp' 'buttonRow';

}

.popUp .popUpContent .closeButton {
    grid-area: closeButton;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    place-self: center end;

    color: var(--on-error-color);
    background-color: var(--pop-up-error-color);
    border: 3px solid var(--on-surface-colors);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);


}

.popUp .popUpContent .closeButton:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--active-offset0) var(--active-offset0) 0 var(--shadow-color);
    transition: .2s ease-in;
}

.popUp .popUpContent .text-popUp {
    grid-area: title;
    font-size: 2rem;
    color: var(--on-surface-colors);
    margin-bottom: 20px;
    text-align: center;

}

.popUp .popUpContent .buttonRow {
    grid-area: buttonRow;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    position: inherit;
    bottom: 0;
}




.popUp .popUpContent .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    position: inherit;
    bottom: 0;
    left: 0;


    width: 200px;
    height: 50px;
    background: var(--pop-up-surface-colors);
    color: var(--on-primary-color);

    border: 3px solid var(--on-surface-colors);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.popUp .popUpContent .button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    transition: .3s ease-in;
}

.popUp .popUpContent .button:hover:nth-child(1) {
    background-color: var(--pop-up-success-color);

}

.popUp .popUpContent .button:hover:nth-child(2) {
    background-color: var(--pop-up-error-color);
}

/* .popUp .popUpContent .button::before {
    content: "";
    position: absolute;
    left: 0;

    width: 0%;
    height: 100%;
    background-color: var(--on-surface-colors);
    
     z-index: -1;
    transition: 0.5s;
}

.popUp .popUpContent .button:hover::before {
    width: 100%;
    transition: 0.5s;
} */



/* ---------------------- LOADER AND ANIMATIONS ---------------------------- */

.loader {
    width: 100%;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;



}

.loader .boxLoader {
    width: 500px;
    height: 500px;


    border-radius: 10px;
    z-index: 102;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader .boxLoader .loaderText {
    font-size: 2rem;


    margin-bottom: 20px;
    text-align: center;
    z-index: 103;

}

.loader .boxLoader .loaderText #textBox {
    font-size: 1.5rem;


    margin-bottom: 20px;
    text-align: center;
    z-index: 105;

}


/*------------------------------------------ INPUT RUN GAME --------------------------- */

.boxUser {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
}



.boxUser button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}



.boxInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
}

.boxInput input {
    width: 60%;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);


}

.boxInput input::placeholder {
    color: var(--on-primary-color);
    font-size: 1rem;
}

.boxInput input:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
}



@keyframes borderPulse {
    0% {
        border-color: var(--on-surface-colors);
    }

    50% {
        border-color: var(--primary-color);
    }

    100% {
        border-color: var(--on-surface-colors);
    }

}

.boxInput button {
    width: 20%;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    color: var(--on-primary-color);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    cursor: pointer;
}

.boxInput button:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    color: var(--on-success-color);
}

.boxInput button#run:hover {
    background: var(--success-color);
}

.boxInput button#back:hover {
    background: var(--error-color);
}

.boxInput button#back:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
    background: var(--error-color);
}

.boxInput button#run:active {
    transform: translate(calc(1 * var(--active-offset)),
            calc(1 * var(--active-offset)));
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow-color);
    background: var(--success-color);
}





/* ------------------------------------ TABLE SCORE -------------------------------- */

.scorePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
}

.scorePage h1 {
    font-size: 2rem;
    color: var(--on-primary-color);
    margin-bottom: 20px;
}

.scorePage .backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    position: inherit;
    bottom: 0;
    left: 0;

    align-self: flex-start;


    width: 200px;
    height: 50px;
    background: var(--pop-up-surface-colors);
    color: var(--on-primary-color);

    border: 3px solid var(--on-surface-colors);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.scorePage .backButton:hover {
    transform: translate(calc(.5 * var(--hover_offset)),
            calc(.5 * var(--hover_offset)));
    box-shadow: var(--hover_offset) var(--hover_offset) 0 var(--shadow-color);
    transition: .3s ease-in;
}



.scorePage .scoreTable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 70%;
    height: 100%;

}

.scorePage .scoreTable tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--surface-colors);
    color: var(--on-primary-color);
    border: 3px solid var(--on-surface-colors);

    font-size: 1.2rem;
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);

}

.scorePage .scoreTable th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    color: var(--on-primary-color);
    font-size: 1.2rem;
    border-top: 3px solid var(--on-surface-colors);
    border-bottom: 3px solid var(--on-surface-colors);

}

.scorePage .scoreTable tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

/* ----------------- ABOUT PAGE ------------------------------- */

.aboutPage {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;

    grid-template-areas: 'title title' 'Icons info';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 8fr;


}

.aboutPage h1 {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--on-primary-color);
    border: 3px solid var(--on-surface-colors);
    background: var(--primary-color);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
}

.aboutPage .devInfos {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    color: var(--on-primary-color);
    text-align: justify;
    align-items: flex-start;


}



.aboutPage .devInfos .mainContent>.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 20px;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;

    font-size: 1.2rem;
    color: var(--on-primary-color);
    text-align: justify;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}


.aboutPage .devInfos .mainContent .card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: var(--on-primary-color);
    text-align: justify;
    align-items: flex-start;
}



.aboutPage .devInfos .mainContent .card .cardIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    border: 3px solid var(--on-surface-colors);
    border-radius: 10px;
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    text-align: center;
    text-justify: auto;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--surface-colors);
}




.aboutPage .devInfos .mainContent .card .cardIcon:hover {
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}



.aboutPage .devInfos .mainContent .card .brandIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 1rem;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
    padding: 10px;


    transition: 0.5s ease-in-out;

}

.aboutPage .devInfos .mainContent .card .brandIcons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;


}


.aboutPage .devInfos .mainContent .card .brandIcons a img {
    width: 100%;
    height: 100%;

    transition: 0.5s ease-in-out;

}



.aboutPage .devInfos .mainContent .card .brandIcons a img:hover {
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}
















.aboutPage .expandableIcons {
    grid-area: Icons;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: fit-content;

    border: 3px solid var(--on-surface-colors);
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;

}

.aboutPage .expandableIcons img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 3px solid var(--on-surface-colors);
    border-radius: 10px;
    background: var(--surface-colors);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.aboutPage .expandableIcons img:hover {
    transform: translateY(-0.2em);
    box-shadow: var(--active-offset3) var(--active-offset3) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}

.aboutPage .expandableIcons img:active {
    transform: translateY(0.2em);
    box-shadow: var(--active-offset) var(--active-offset) 0 var(--shadow_color);
    transition: 0.5s ease-in-out;
}









/* ---------------------------------- MEDIA QUERY ---------------------------------- */


@media only screen and (width: 1024px) {
    .keyboard {
        max-width: 60%;
    }

}


@media only screen and (width: 1440px) {
    .keyboard {
        max-width: 45%;
    }

}

@media only screen and (width > 1440px) {
    .keyboard {
        max-width: 600px;
    }

    .mainContent {
        width: 1200px;
        height: 280px;
    }

}