.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    background-color: #45a049;
}

.button:active{
    background-color: #45a049;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.small{
    padding: 10px 20px;
    font-size: 12px;
}

.medium{
    padding: 15px 30px;
    font-size: 16px;
}

.large{
    padding: 20px 40px;
    font-size: 20px;
}

.text-size-small{
    font-size: 12px;
}

.text-size-medium{
    font-size: 16px;
}

.text-size-large{
    font-size: 20px;
}