


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-surface);
    padding: 10px 20px;
  
}

.header .logo{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.header ul{
    display: flex;
    list-style: none;
}

.header ul li a{

    text-decoration: none;
}

